<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercado Liebre</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">

</head>

<body>
  <header class="header">
   <div class="header-top-bar">
    <img src="/images/logo-mercado-liebre.svg" class="logo" alt="">
    <div class="containers-search">
      <div class="shearch-bar">
        <input type="text" placeholder="Buscar productos,marcas">
        <button><i class="fas fa-search"></i></button>
      </div>
    </div>

    <div>
      <h2 class="compras">
        <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito
      </h2>
    </div>
   </div>

    <nav class="nav-bot-bar">
      <ul class="top-list">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
      <ul class="bot-list">
        <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
        <li><a href="/login">Ingresá <i class="fas fa-sign-out-alt"></i></a></li>
        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
      </ul>
    </nav>
    <a href="#" class="burguer-menu">
      <i class="fas fa-bars"></i>
    </a>
  </header>
  
  <main class="main-home">
    <img src="/images/img-home-banner.jpg" class="banner" style="width: 100%" alt="">
    <section class="main">
      <h3>Basado en tu última visita</h3>

      <article class="articulo">
        <img src="/images/img-cafetera-moulinex.jpg" style="width: 100%;" alt="">
        <div class="card">
          <div class="icono_carrito">
            <i class="fas fa-truck"></i>
          </div>
          <div class="info">
            <p class="precio">$6.770</p>
            <p class="descuento">40% OFF</p>
          </div>
          <div class="descripcion_h5">
            <h5 class="descripcion">Cafetera moulinex</h5>
          </div>
        </div>

      </article>
      <article class="articulo">
        <img src="/images/img-macbook-pro-2019.jpg" style="width: 100%;" alt="">

        <div class="card">
          <div class="icono_carrito">
            <i class="fas fa-truck"></i>
          </div>
          <div class="info">
            <p class="precio">$230.000</p>
            <p class="descuento">20% OFF</p>
          </div>
          <div class="descripcion_h5">
            <h5 class="descripcion">MacBook Pro 2019</h5>
          </div>
        </div>


      </article>
      <article class="articulo">
        <img src="/images/img-samsung-galaxy-s10.jpg" style="width: 100%;" alt="">
        <div class="card">
          <div class="icono_carrito">
            <i class="fas fa-truck"></i>
          </div>
          <div class="info">
            <p class="precio">$70.500</p>
            <p class="descuento">10% OFF</p>
          </div>
          <div class="descripcion_h5">
            <h5 class="descripcion">Samsung Galaxy S10</h5>
          </div>
        </div>


      </article>
      <article class="articulo">
        <img src="/images/img-tv-samsung-smart.jpg" style="width: 100%;" alt="">
        <div class="card">
          <div class="icono_carrito">
            <i class="fas fa-truck"></i>
          </div>
          <div class="info">
            <p class="precio">$23.200</p>
            <p class="descuento">5% OFF</p>
          </div>
          <div class="descripcion_h5">
            <h5 class="descripcion">SmartTv Samsung 43"</h5>
          </div>
        </div>


      </article>

      <h3>Sección de Ofertas</h3>

      <article class="articulo">
       
        <img src="/images/img-cafetera-moulinex.jpg" style="width: 100%;" alt="">
        <div class="card">
          <div class="icono_carrito">
            <i class="fas fa-truck"></i>
          </div>
          <div class="info">
            <p class="precio">$6.770</p>
            <p class="descuento">40% OFF</p>
          </div>
          <div class="descripcion_h5">
            <h5 class="descripcion">Cafetera moulinex</h5>
          </div>
        </div>

      </article>
      <article class="articulo">
        <img src="/images/img-macbook-pro-2019.jpg" style="width: 100%;" alt="">
        <div class="card">
          <div class="icono_carrito">
            <i class="fas fa-truck"></i>
          </div>
          <div class="info">
            <p class="precio">$230.000</p>
            <p class="descuento">20% OFF</p>
          </div>
          <div class="descripcion_h5">
            <h5 class="descripcion">MacBook Pro 2019</h5>
          </div>
        </div>

      </article>
      <article class="articulo">
        <img src="/images/img-samsung-galaxy-s10.jpg" style="width: 100%;" alt="">
        <div class="card">
          <div class="icono_carrito">
            <i class="fas fa-truck"></i>
          </div>
          <div class="info">
            <p class="precio">$70.500</p>
            <p class="descuento">10% OFF</p>
          </div>
          <div class="descripcion_h5">
            <h5 class="descripcion">Samsung Galaxy S10</h5>
          </div>
        </div>


      </article>
      <article class="articulo">
        <img src="/images/img-tv-samsung-smart.jpg" style="width: 100%;" alt="">
        <div class="card">
          <div class="icono_carrito">
            <i class="fas fa-truck"></i>
          </div>
          <div class="info">
            <p class="precio">$23.200</p>
            <p class="descuento">5% OFF</p>
          </div>
          <div class="descripcion_h5">
            <h5 class="descripcion">SmartTv Samsung 43"</h5>
          </div>
        </div>
      </article>
    </section>
  </main>
  <footer class="footer">
    <section class="articulo_footer">
      <i class="fas fa-credit-card"></i>
      <br>
      <h5>Pagá con tarjeta o en efectivo</h5>
      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
        efectivo en puntos de pago. ¡Y siempre es seguro!
      </p>
    </section>

    <section class="articulo_footer">
      <i class="fas fa-gift"></i>
      <br>
      <h5>Envío gratis desde $ 2.500</h5>
      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
        miles de productos. Es un beneficio de Mercado Puntos.
      </p>
    </section>
    <section class="articulo_footer">

      <i class="fas fa-user-shield"></i>
      <br>
      <h5>Seguridad, de principio a fin</h5>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>
    </section>

    <div>
      <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>
  </footer>
</body>

</html>