.banner{
    width: 100vw;
}
.main-home h3{
    color: var(--gris-oscuro);
    text-align: center;
    font-size: 20px;
}
.main-home{
    width: 90%;
    margin: 0 auto;
}

.main-home article{
    width: 98%;
    margin: auto;
    margin-bottom: 10px;
    
}

  .card{
     border-top: 1px solid var(--gris-claro);
    padding: 15px;   
 } 
 .descuento{
    color: var(--verde);
    font-size: 12px;
    width: 70%; 
}
  .icono_carrito{
   display: block;
   font-size: 16px;
   padding: 5px;
   width: 30px;
   height: 30px;
   border: 1px solid var(--verde);
   border-radius: 50%;
   background-color: #ffffff;
   position: absolute;
   color: var(--verde);
   right: 20px;
   
}

.descripcion{
color: var(--gris-oscuro);
padding: 15px 10px 0 0;
display: none;
}  

/* TABLET */

@media (min-width: 768px) {
    .main-home article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .descripcion{
        display: block;
    }
}

/* DESKTOP */

@media (min-width: 1440px) {
    .main-home article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .descripcion{
        display: block;
    }
}
